{% extends "main.html" %}
{% autoescape None %}

{% block body %}
<form method="POST">
    ISBN <input type="text" name="isbn" value="{{ \
        book.get('isbn', '') }}" /><br />
    标题 <input type="text" name="title" value="{{ \
        book.get('title', '') }}" /><br />
    副标题 <input type="text" name="subtitle" value="{{ \
        book.get('subtitle', '') }}" /><br />
    图像 <input type="text" name="image" value="{{ \
        book.get('image', '') }}" /><br />
    作者 <input type="text" name="author" value="{{ \
        book.get('author', '') }}" /><br />
    发布日期 <input type="text" name="date_released" \
        value="{{ book.get('date_released', '') }}" /><br />
    内容摘要<br />
    <textarea name="description", rows="5" cols="40" >\
        {% raw book.get('description', '') %}</textarea><br />
    <input type="submit" value="保存">
</form>
{% end %}
