<div class="book">
    <h3 class="book_title">{{ book["title"] }}</h3>
    {% if book["subtitle"] != "" %}
        <h4 class="book_subtitle">{{ book["subtitle"] }}</h4>
    {% end %}
    <img src="{{ book["image"] }}" class="book_image" />
    <div class="book_details">
        <div class="book_date_released">发布日期：{{ book["date_released"] }}</div>
        <div class="book_date_added">上架日期：
            {{ locale.format_date(book["date_added"], full_format=True, shorter=True) }}
        </div>
        <h5>内容简介：</h5>
        <div class="book_body">{% raw book["description"] %}</div>
    </div>
</div>
